<div class = "center jumbotron">
<h1>Listing To Do Items </h1>
</div>

<div class = "container">

<table class="table">

    <tr>
      <th>Due date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>


   <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.due_date %></td>
        <td><%= todo_item.title %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.completed %></td>
        <td><%= link_to 'Show', todo_item %></td>
		<td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		
      </tr>
  
    <% end %>
	</table>
	<br>
	<div class="number"><td>Number of Completed Todos: <%=   @number_of_completed_todos %></td></div>
	     
  </tbody>
</table>

<br>

<div class="number"><%= link_to 'New Todo Item', new_todo_item_path %></div>
